__pycache__/
*.pyc
.venv/
venv/

data/warehouse/*.duckdb
data/processed/*

mlruns/
mlartifacts/

dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

.dagster/

.pytest_cache/
.coverage

.env
*.log
.tmp_dagster_home_*/
mlflow.db
models/*.pkl
data/raw/database.csv
